/* General Reset */
body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  background-color: #d8d8d8;
  color: #182747;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: none;
}

a {
  text-decoration: none;
  color: #182747;
  transition: color 0.3s ease;
}

a:hover {
  color: #647e68;
}

/* Fade-Out Animation for Text */
.fade-out {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  /* Smooth 2-second fade-out */
}

/* Custom Fade-Out and Scale-Up */
@keyframes fadeOutScaleUp {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

/* Animations */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(0) rotate(45deg);
    /* Original position */
  }

  50% {
    transform: translateY(10px) rotate(45deg);
    /* Move slightly down */
  }
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

/* Custom Fade-In Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
    /* Start below */
  }

  100% {
    opacity: 1;
    transform: scale(1);
    /* Final position */
  }
}

/* Custom Zoom-In Animation */
@keyframes zoomUp {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
    /* Start below and smaller */
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    /* End at original position and size */
  }
}

/* Apply Animations Dynamically */
.fade-in {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 3s ease-out forwards;
}

.zoom-in {
  opacity: 0;
  transform: translateY(50px) scale(0.8);
  animation: zoomUp 1.5s ease-out forwards;
}